@media(max-width: 992px){
  .navbar i{
    margin-right: 20px;
  }
  .navbar li{
    border: 1px solid #ccc;
  }
}
.green-text{
  color: green;
  font-weight: bold !important;
}
.red-text{
  color: red;
  font-weight: bold;
}
.red-text *{
  font-weight: bold!important;
}
.orange-text{
  font-weight: bold!important;
  color: orange!important;
}
.guard-map{
  height: 75vh!important;
  width: 100%!important;
}
.card{
  height: 85vh!important;
  width: 100%;
}
#tblGuard td, #tblGuard th{
  font-size: 0.87em;
}
